.notask{
  color: #b6b6b6;
  background-color: #fff6f3;
}

.toDo-item {
    width: 100%;
    background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.toDo-item:hover {
  background-color: #e6e6e6;
}

.task {
    width: 100%;
}

.delete-icon {
  color: #ff0000;
  width: 32px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.delete-icon:hover {
  background-color: #cfcfcf;
  border-radius: 50%;
  padding: 2px;
}

.toDo-item:hover .delete-icon {
  opacity: 1;
}